@if (timetable.length > 0) {
  <table class="table">
    <thead>
      <tr>
        <th>Bus head sign</th>
        <th title="Scheduled arrival and departure time">Schedule</th>
        <th title="Currently expected time if tracked in real time, empty otherwise">Real time</th>
      </tr>
    </thead>
    @for (time of timetable; track time) {
      <tbody>
        <tr>
          <td>{{ time.headsign }}</td>
          <td>{{ time.scheduledDeparture }}</td>
          @if (time.realtime === true) {
            <td>{{ time.arrival }}</td>
          }
          @if (time.realtime === false) {
            <td> </td>
          }
        </tr>
      </tbody>
    }
  </table>
}

@if (timetable.length > 0) {
  <p class="has-text-centered">
    <button class="button is-info" (click)="updateTimeTable(selectedStop)">Update timetable</button>
  </p>
}