<div class="container is-fluid">
  <h1 class="title has-text-centered">Three closest bus stops to your current location</h1>
  <app-help></app-help>
  <app-bus-stop [busStops]="stops" [mapInstance]="maps" (selectEvent)="selectedStop($event)"></app-bus-stop>
  <div leaflet (leafletMapReady)="onMapReady($any($event))" id="map" (dblclick)="clickedLocation($event)"></div>
  @if (resetCheck === 1 || repositioning === 1) {
    <div class="columns">
      <div class="column">
        <h2 class="subtitle has-text-centered">Busses stopping at the selected stop</h2>
      </div>
      <div class="column">
        <h2 class="subtitle has-text-centered">Estimated timetable for the stop</h2>
      </div>
    </div>
  }
  @if (resetCheck === 0 && repositioning === 0) {
    <div class="columns">
      <div class="column">
        <h2 class="subtitle has-text-centered">Busses stopping at the selected stop</h2>
        <app-routes [stop]="selected" (selectedBusRoute)="selectedRoute($any($event))"></app-routes>
      </div>
      <div class="column">
        <h2 class="subtitle has-text-centered">Estimated timetable for the stop</h2>
        <app-timetable [stop]="selected" [routeTimeTable]="route"></app-timetable>
      </div>
    </div>
  }
  <app-reset (resetView)="defaultView($any($event))"></app-reset>
  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>