@if (busStops) {
  <div class="columns is-multiline">
    @for (stop of busStops; track stop) {
      <div class="column is-one-third" (click)="getSelectedStop(stop)">
        <article class="notification" title="Click me for more information." [ngClass]="stop.selected === 1 ? 'is-success' : ''">
          <p class="title">{{ stop.name }}</p>
          <p class="subtitle">Distance: {{ stop.distance }} metres</p>
          <!--
          <div class="content">
            <p>Direction: <strong>{{ degToCardinal(stop.bearing) }}</strong></p>
          </div>
          -->
        </article>
      </div>
    }
  </div>
}

@if (busStops.length === 0) {
  <div>
    <div class="notification">Default location is the <a href="https://fi.wikipedia.org/wiki/Manner-Suomen_keskipiste" target="_blank" nofollow noreferrer>geographical centre of Finland</a>.</div>
  </div>
}